@charset "UTF-8";

* {
	padding: 0;
	margin: 0;
}

.map_wrap {
	position: relative;
	height: 350px;
}

.title {
	font-weight: bold;
	display: block;
}

#content-box {
	display: flex;
	border-top: solid 2px rgb(51, 51, 51);
}

#main {
	width: 100vw;
	padding: 20px;
	background-color: #f0f0f0;
}

#map {
	width: 60vw;
	height: 90vh;
}

.hospitals-container {
	gap: 60px;
	display: flex;
	justify-content: center;
}

#hospitals {
	max-height: calc(100% - 520px);
	overflow-y: auto;
	padding: 10px;
	border: 1px solid #ddd;
	background-color: #fff;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.hospital {
	border-bottom: 1px solid #eee;
	padding: 10px 0;
	background-color: #f9f9f9;
}

.operating-hours {
    margin-top: 5px;
    width: 100%;
    padding: 5px;
}

#hospitals div {
	margin-bottom: 10px;
}

.bookmark-but {
	display: block;
	padding: 5px 10px;
	margin-top: 5px;
	background-color: #2f3f58;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	width: fit-content;
	background-color: #2f3f58;
}

.page-button {
    margin: 5px;
    padding: 5px 10px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    cursor: pointer;
    border-radius: 4px;
}

.page-button:hover {
    background-color: #eee;
}

.page-button.active {
    background-color: #ddd;
    font-weight: bold;
}