@charset "UTF-8";

form {
	margin: 10px auto;
	padding: 10px;
	width: 400px;
	border: solid 2px black;
}

input {
	margin-bottom: 29.46px;
	width: 400px;
	height: 40px;
	padding: 10px;
	box-sizing: border-box;
}

span {
	margin-left: 5px;
	color: rgb(118, 118, 118);
	font-size: 14px;	
}

.error-msg {
	display: none;
	color: red;
	font-size: 11px;
}

#form-join {
	height: 550px;	
}

#id-msg {
	margin-bottom: 0;
}

.gender {
	width: 50px;
}

#form-submit {
	margin-bottom: 0;	
}

#checkdupl {
	width: 80px;
}

#select-gender {
	display: flex;
	margin: 5px auto 15px auto;
}

.form_radio_btn {
	width: 50%;
	height: 45px;
	border: 1px solid #EAE7E7;
	border-radius: 10px;
}

.form_radio_btn input[type=radio] {
	display: none;
}

.form_radio_btn label {
	display: block;
	border-radius: 10px;
	margin: 0 auto;
	text-align: center;
	line-height: 45px;
}

.form_radio_btn input[type=radio]:checked+label {
	background: #184DA0;
	color: #fff;
}

.form_radio_btn label:hover {
	color: #666;
}

.form_radio_btn input[type=radio]+label {
	background: #F9FAFC;
	color: #666;
}